@{
    Layout = "~/Shared/_LayoutHome.cshtml";
    PageData["page-id"] = "Home-page";
    Page.Title = "Home";
}

<section id="biography">
    <h2>Biography</h2>
    <div><img src="~/Images/image.jpg" alt="John Karopoulos"></div>
    <p><b>John Karopoulos</b><br>Hi, my name is John and I am 23 years old. I study web developing and this is my <a href="http://github.com/j0nnys">github</a>.</p>
</section>
<section id="academic">
    <h2><br>Academic Experience</h2>
    <ul>
        <li><h3>BSc in Engineering Energy Technology, direction in Electrical Energy</h3></li>
        <li><h3>Utilization of the Android platform (Developing educational application in JAVA)</h3></li>
        <li><h3>Web Developing in C#</h3></li>
    </ul>
</section>
<section id="hobbies">
    <h2><br>List of hobbies</h2>
    <ul>
        <li><p>Cycling</p></li>
        <li><p>Running</p></li>
        <li><p>Watching Movies</p></li>
    </ul>
</section>