@model WorldTour.Models.CheckoutViewModel
@{
    ViewBag.Title = "Completion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Completion</h2>
<p>Your purchase has been successfully completed. An email with the booking information will be sent to you soon.</p>
<a href="~/Views/Home/Index.cshtml">Return to our homepage.</a>
