<div id="header">
    <div id="logo" class="col-md-4">
        <a href="~/index.cshtml"><img src="~/Media/logo.png" alt="LOGO" width="500px" /></a>
    </div>
    <nav>
        <div id="login" class="col-md-4">
            <a href="~/Login.html">Login Here</a>
        </div>
        <div id="aboutUs" class="col-md-4">
            <a href="~/about.html">About us</a>
        </div>
    </nav>
</div>