<main id="Home-page" class="page-content">
  <header>
    <p><address>Contact <a id="email" href="mailto:yanis@protonmail.com">John Karopoulos</a></address></p>
    <h2>Welcome to my website!</h2>
    <h3>Here you can find information about me.</h3>
  </header>
</main>

